.room{
  background-image: url('../img/room.jpg');
  width: 964px;
  height: 643px;
  background-size: cover;
  position: relative;
}

.kitty {
  transaction: all 0.3s;
  width: 140px;
  background-size: contain;
  background-repeat: no-repeat;

  /* COMPLETE CHALLENGES HERE*/
  position: absolute;
  bottom: 0px;
  left: 40px;
}

.plant{
  background-size: contain;
  background-repeat: no-repeat;
  width: 190px;
  position: absolute;
  right: 20px;
  bottom: 30px;

  /* Check it out! I wonder what this does... */
  z-index: 0;
}